/*
    Project: GradiWeb Test
    Develop: Fabio Medina Medina
    Develop URI: https://www.fabiomedina.com
    Date: April 2022
    Location: Tunja, Colombia
    ------ COLORS & FONT ------
    --c-primary: #000;
    --c-primary-middle: #E1E1E1;
    --c-primary-light: #F3F3F3;
    --f-primary: 'Poppins', sans-serif;
*/

:root {
  --c-primary: #000;
  --c-primary-middle: #6e6e6e;
  --c-primary-light: #F3F3F3;
  --f-primary: 'Poppins', sans-serif;
  --f-regular: 400;
  --f-medium: 500;
  --f-bold: 700;
}

/* GENERALS */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* Now 10px = 1rem! */
}

body{
  background: #FFF;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--f-primary);
  text-transform: none;
  margin: 0;
  line-height: 1;
}

a,
a:visited,
p,
span,
ul li,
ol li,
input,
td,
address,
label {
  color: var(--c-primary);
  font-family: var(--f-primary);
  font-size: 1.6rem;
  font-weight: var(--f-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

*,
a,
input,
mark,
li,
img,
svg,
span,
p,
button {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a{
  text-decoration: none;
}

.btn_primary, .btn_secondary{
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: var(--f-bold);
  cursor: pointer;
  text-align: center;
}

.btn_primary{
  background-color: var(--c-primary);
  color: #FFF;
}

.btn_secondary{
  background-color: var(--c-primary-light);
}

.btn_secondary:hover{
  background-color: var(--c-primary-middle);
  color: #FFF;
}

#main{
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem 1.5rem;
}

/* BREADCRUM */

.breadcrum_product_container .breadcrum {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.breadcrum_product_container .breadcrum .breadcrum_item,
.breadcrum_product_container .breadcrum .breadcrum_item a {
  font-size: 1.4rem;
}

.breadcrum_product_container .breadcrum .breadcrum_item {
  font-weight: var(--f-bold);
}

.breadcrum_product_container .breadcrum .breadcrum_item a {
  color: var(--c-primary-middle);
}

.breadcrum_product_container .breadcrum .breadcrum_item a:hover {
  color: var(--c-primary);
}

.breadcrum_product_container .breadcrum .breadcrum_item:not(:last-child):after{
  content: '/';
  padding: 0 1rem;
  color: var(--c-primary-middle);
}

.container_product{
  margin-top: 2rem;
}

/* PRODUCT SLIDER */


@media (min-width: 481px) {
  .slider_product_container{
    padding-right: 1rem;
  }
}

@media (min-width: 1025px) {
  .slider_product_container{
    padding-right: 2rem;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.full_slide {
  height: 80%;
  width: 100%;
}

.thumbs_slide {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 1rem;
}

.thumbs_slide .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.thumbs_slide .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PRODUCT INFORMATION */
.information_product_container{
  padding-top: 2rem;
}

@media (min-width: 768px) {
  .information_product_container{
    padding-top: 0;
    padding-left: 1rem;
  }
}

@media (min-width: 1025px) {
  .information_product_container{
    padding-top: 0;
    padding-left: 2rem;
  }
}


.information_product_container .vendor_product,
.information_product_container .vendor_product p,
.information_product_container .vendor_product a {
  color: var(--c-primary-middle);
  font-size: 1.2rem;
}

.information_product_container .vendor_product a:hover{
  color: var(--c-primary);
}

.information_product_container .title_product{
  padding: 1rem 0;
}

.information_product_container .title_product,
.information_product_container .title_product h1{
  font-size: 2rem;
  font-weight: var(--f-bold);
}

@media (min-width: 768px) {
  .information_product_container .title_product,
  .information_product_container .title_product h1{
    font-size: 2.1rem;
  }
}

@media (min-width: 1025px) {
  .information_product_container .title_product,
  .information_product_container .title_product h1{
    font-size: 3rem;
  }
}

.information_product_container .price_product,
.information_product_container .price_product p,
.information_product_container .price_product p span.price_sale {
  color: var(--c-primary);
  font-size: 2.5rem;
  font-weight: var(--f-medium);
}

.information_product_container .price_product span {
  color: var(--c-primary-middle);
  font-size: 1.8rem;
}

/* FORM PRODUCT */
.form_wrapper_product_attributes{
  margin: 3rem 0;
}

.container_product_atributtes{
  border-top: 2px solid var(--c-primary-light);
}

.container_product_atributtes .variant_inputs{
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.container_product_atributtes .variant_inputs:not(:last-child) {
  border-bottom: 0.2rem solid var(--c-primary-light);
}

.variant_inputs .title_fieldset {
  flex-basis: 20%;
}

@media (min-width: 768px) {
  .variant_inputs .title_fieldset {
    flex-basis: 18%;
  }
}

@media (min-width: 1025px) {
  .variant_inputs .title_fieldset {
    flex-basis: 15%;
  }
}

.variant_input_wrapper{
  flex-basis: 80%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  border: none;
}

@media (min-width: 768px) {
  .variant_input_wrapper{
    flex-basis: 83%;
  }
}

@media (min-width: 1025px) {
  .variant_input_wrapper{
    flex-basis: 85%;
  }
}

.variant_input_wrapper .variant_input input {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.variant_input_wrapper .variant_input label{
  border: 0.2rem solid var(--c-primary-middle);
  padding: 0.3rem 1rem;
  display: inline-block;
  color: var(--c-primary-middle);
  cursor: pointer;
}

.variant_input_wrapper.inputs_size .variant_input input[type=radio]:checked+label{
  border: 0.2rem solid var(--c-primary);
  color: var(--c-primary);
}

.variant_input_wrapper.inputs_color .variant_input label{
  position: relative;
  display: inline-block;
  height: 2.4rem;
  width: 2.4rem;
  min-width: 2.4rem;
  border: 0.1rem solid #eaeaea;
  border-radius: 50%;
  padding: 0;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.7);
}

label[data-color="red"]{
  background-color: red;
}

label[data-color="white"]{
  background-color: white;
}

label[data-color="black"]{
  background-color: black;
}

.variant_input_wrapper.inputs_color .variant_input label:after{
  content: '';
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.2rem solid var(--c-primary-middle);
  top: -0.4rem;
  left: -0.4rem;
  position: absolute;
  display: inline-block;
}

.variant_input_wrapper.inputs_color .variant_input input[type=radio]:checked+label:after{
  border: 0.2rem solid var(--c-primary);
}

/* QTY */
.qty_product{
  display: flex;
  align-items: center;
  margin: 2rem 0; 
}

.qty_product .input_qty{
  position: relative;
}

.qty_product .input_qty_product {
  position: relative;
  max-width: 10rem;
  min-height: 3.5rem;
  text-align: center;
  border: 0.1rem solid var(--c-primary-light);
}


.qty_product .qty_minus,
.qty_product .qty_plus {
  cursor: pointer;
  position: absolute;
  display: block;
  border: none;
  background: transparent;
  width: 3rem;
}
.qty_product .qty_minus{
  top: 0;
  bottom: 0;
  left: 0;
}

.qty_product .qty_plus{
  top: 0;
  bottom: 0;
  right: 0;
}

.qty_product .total_product{
  width: calc( 100% - 10rem);
  text-align: right;
}

.qty_product .total_product,
.qty_product .total_product p{
  font-size: 1.2rem;
  color: var(--c-primary-middle);
}

.qty_product .total_product span{
  font-size: 1.4rem;
  font-weight: var(--f-bold);
  color: var(--c-primary);
}

/* ACTIONS */

.action_product{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1025px) {
  .action_product{
    flex-direction: row;
  }
}

.action_product button{
  flex-basis: 100%;
}

@media (min-width: 1025px) {
  .action_product button{
    flex-basis: 50%;
  }
}

.description_product,
.description_product p,
.description_product span{
  font-size: 1.2rem;
  color: var(--c-primary-middle);
}

/* POP UP */
.popup_addtocart_wrapper.hidden_popup{
  display: none;
}

.popup_addtocart_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
}

.popup_addtocart_wrapper .overlay_popup{
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  z-index: 100;
}

.popup_addtocart_wrapper .box_container_popup{
  position: relative;
  text-align: center;
  max-width: 80%;
  min-width: 20rem;
  z-index: 900;
  background: #FFF;
  padding: 3rem;
  box-shadow: 0.4rem 0.4rem 1rem rgba(0,0,0,0.2);
}

@media (min-width: 768px) {
  .popup_addtocart_wrapper .box_container_popup{
    max-width: 60rem;
    min-width: 30rem;
  }
}

.popup_addtocart_wrapper .box_container_popup .close_popup{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-primary);
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: -1rem;
  top: -1rem;
  cursor: pointer;
}

.popup_addtocart_wrapper .box_container_popup .close_popup span{
  color: #fff;
}

.popup_addtocart_wrapper .box_container_popup .content_popup h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.popup_addtocart_wrapper .box_container_popup .content_popup ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_addtocart_wrapper .box_container_popup .content_popup ul li:not(:last-child):after{
  content: '|';
  padding: 0 1rem;
}